@import '../../styles/roboto.css';

.welcome-wrapper {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.welcome-ways {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  margin-top: 10vh;
  &-path {
    text-decoration: none;
    color: #fff;
  }
}